table, tr{
    border: 0px solid;
    text-align: center;
    justify-content: center;
    width: 90%;
}
td, th{
    padding-left: 15%;
    padding-right: 15%;
}

.items{
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
}

.label{
    padding-left: 15px;
    padding-right: 60px;
}

.items > * > *{
    margin: 2px;
}

.top{
    padding: 10px;
}

.bottomButton{
    text-align: center;
    padding: 5px;
}